@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  }

/* CSS RESET */

* {
  padding:0;
  margin:0;
  vertical-align:baseline;
  list-style:none;
  border:0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  }

body { background-color: var(--bs-gray-dark); color: var(--bs-light);}
header {
    background-color: var(--bs-dark);
}
.Botão-voltar{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    font-size: 35px;
    padding:90px 60px 0px;
}
.Botão-voltar button{
    font-size: 35px;
}
.informacoesdev{
    padding-top: 70px;
}
.fotodeperfil{
    width: 450px;
    height: 450px;
    border: transparent 2px;
    border-radius: 300px;
}
.iconerede{
    width:60px;
    height:60px;
}
.informacoesdev .descricao{
    background-color: gray;
    border: var(--bs-red) 2px solid;
}
.informacoesdev .redes-sociais{
    background-color:gray;
    border: var(--bs-red) 2px solid;
}
.informacoesdev hr{
    height: 2px;
}
.imgjogo {
    width:400px;
    height: 225px;
    padding: 10px 0px;
}
.frances{
    background-color:gray;
    padding-top: 20px;
    padding-bottom:20px;
    border: var(--bs-red) 2px solid;
}
.jogo h1{
    font-size: 30px;
}
.butao{
    padding: 10px 0px
}