@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-font-sans-serif: system-ui, -apple-system, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
}

/* CSS RESET */

* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--bs-gray-dark);
  color: var(--bs-light);
}
header {
  background-color: var(--bs-dark);
}

main {
  margin-bottom: 40px;
}

.login {
  margin: 0 30px 0 40px;
}

.user-icon {
  font-size: 50px;
  margin-left: 50px;
}

.login-link {
  font-size: 1.5em;
}

.game-info {
  margin-top: 120px;
}
.page-nav {
  margin-bottom: 20px;
}

#dev-name {
  margin-left: 50px;
}

.devPic {
  text-align: center;
  margin: 0 auto;
}

.dev-icon {
  font-size: 20em;
}

#dev-info {
  padding: 20px;
  text-align: justify;
}

.info-footer {
  text-align: center;
  margin: 0 auto;
}

.info-footer img {
  width: 60px;
}

.games {
  background-color: var(--bs-gray-dark);
  margin: 10px 0;
}

.stores {
    background-color: var(--bs-gray-dark);
    margin: 10px;
    padding: 20px;
}

.card-transparent {
    width: 25%;
    margin: 10px 0 !important;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 999px) {
  .user-icon {
    display: none;
  }
}

@media only screen and (max-width: 280px) {
  #dev-name {
    margin-left: 25px;
  }
}
