.informacoesuser .col .user-name{
    font-size: 50px;
    text-align: left;
}
.foto-amigos{
    width: 50px;
    height: 50px;
    border: transparent 2px;
    border-radius: 300px;
}
.amigos-lista{
    background-color: #212529; 
    border-radius: 8px;
}

hr{ 
    background-color: #343a40;
}

.amigosx{
    display:flex;
    align-items: bottom;
    gap: 10px;
    font-size: 30px;   
}

.recomendacoes, .tags-titulo{
    padding-top: 1vh;
    margin-left: 2vh;
}

.tag-exemplo{
    border: 1px;
    border-style: solid;
    border-radius: 4px;
}

.tags{
    margin-top: 2vh;
    margin-bottom: 3vh;
}

.recom, .frances{
    border-radius: 8px;
    background-color:#212529;
}

.lista-tags{
    background-color: #212529;
    border-style: solid;
    border-radius: 8px;
}

.photo-placeholder .imgjogo{
    border-radius: 4px;
    width: 24vh;
    height: 32vh;
}

.footer-tags{
    margin-top: 10vh;
}